@inject SharedLocalizationService Localizer
@model List<ConstructionSite.ViwModel.FrontViewModels.Slider.SliderViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider1" class="rev_slider fullwidthabanner">
        <ul>

            <!-- Slide -->
            <!-- End Slide -->
            <!-- Slide -->
            @foreach (var item in Model)
            {
               
                <li data-transition="boxfade" data-slotamount="7" data-easein="Expo.easeOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="@item.imagePath.ToLower()" data-rotate="0" data-saveperformance="off" data-title="BEST COMPANY">
                    Main Image
                    <img src="data:image/jpeg;charset=utf-8;base64,@item.imagePath" alt="" data-bgposition="center center" data-no-retina>
                    Layers
                    <div class="tp-caption tp-resizeme text-white font-family-heading text-shadow font-weight-500"
                         data-x="['left','left','left','left']" data-hoffset="['50','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-100','-90','-80','-70']"
                         data-fontsize="['60','50','40','30']"
                         data-lineheight="['70','60','50','40']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                       @item.Tittle
                    </div>
                    <div class="tp-caption tp-resizeme text-white text-shadow"
                         data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                         data-fontsize="['20','18','16','14']"
                         data-lineheight="['30','28','26','24']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                         data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-lasttriggerstate="reset">
                       @item.Content
                    </div>
                    <div class="tp-caption"
                         data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['80','70','60','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                         data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1250"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive="on">
                        <a class="wprt-button big rounded-3px" asp-action="Index" asp-controller="Blog">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.News)</a>
                        @*<a class="wprt-button big rounded-3px">CONTACT US</a>*@
                    </div>
                </li>
            }
            @*<li data-transition="boxfade" data-slotamount="7" data-easein="Expo.easeOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="assets/img/slider/2.jpg" data-rotate="0" data-saveperformance="off" data-title="BEST COMPANY">
            Main Image
            <img src="Assets/Img/slider/3cu.png" alt="" data-bgposition="center center" data-no-retina>
            Layers
            <div class="tp-caption tp-resizeme text-white font-family-heading text-shadow font-weight-500"
                 data-x="['left','left','left','left']" data-hoffset="['50','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-90','-80','-70']"
                 data-fontsize="['60','50','40','30']"
                 data-lineheight="['70','60','50','40']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;"
                 data-mask_out="x:inherit;y:inherit;"
                 data-start="1500"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on">
                THE BEST COMPANY
            </div>
            <div class="tp-caption tp-resizeme text-white text-shadow"
                 data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                 data-fontsize="['20','18','16','14']"
                 data-lineheight="['30','28','26','24']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                 data-start="1000"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 data-lasttriggerstate="reset">
                We are professional company over 20 year of experience.<br>We will brighten up every corner of your house.
            </div>
            <div class="tp-caption"
                 data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['80','70','60','50']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                 data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                 data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                 data-start="1250"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive="on">
                <a class="wprt-button big rounded-3px" asp-action="Index" asp-controller="Blog">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.News)</a>
                <a class="wprt-button big rounded-3px">CONTACT US</a>
            </div>
        </li>
        <li data-transition="boxfade" data-slotamount="7" data-easein="Expo.easeOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="assets/img/slider/2.jpg" data-rotate="0" data-saveperformance="off" data-title="BEST COMPANY">
            Main Image
            <img src="assets/img/slider/2ci.png" alt="" data-bgposition="center center" data-no-retina>
            Layers
            <div class="tp-caption tp-resizeme text-white font-family-heading text-shadow font-weight-500"
                 data-x="['left','left','left','left']" data-hoffset="['50','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-90','-80','-70']"
                 data-fontsize="['60','50','40','30']"
                 data-lineheight="['70','60','50','40']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;"
                 data-mask_out="x:inherit;y:inherit;"
                 data-start="1500"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on">
                THE BEST COMPANY
            </div>
            <div class="tp-caption tp-resizeme text-white text-shadow"
                 data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']"
                 data-fontsize="['20','18','16','14']"
                 data-lineheight="['30','28','26','24']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                 data-start="1000"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 data-lasttriggerstate="reset">
                We are professional company over 20 year of experience.<br>We will brighten up every corner of your house.
            </div>
            <div class="tp-caption"
                 data-x="['left','left','left','left']" data-hoffset="['55','30','30','30']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['80','70','60','50']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                 data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                 data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                 data-start="1250"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive="on">
                <a class="wprt-button big rounded-3px" asp-action="Index" asp-controller="Blog">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.News)</a>
                <a class="wprt-button big rounded-3px">CONTACT US</a>
            </div>
        </li>*@
            <!-- End Slide -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>

<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    @await Component.InvokeAsync("About")
                    @await Component.InvokeAsync("Service")
                  
                    @await Component.InvokeAsync("Portfolio")
                    @await Component.InvokeAsync("Galery")
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        @(await Component.InvokeAsync("Blog"))
        <section id="contact" class="wprt-section">
            <div class="container">
                <div class="row">
                    @*@(await Component.InvokeAsync("Message"))*@
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
    </div>
    <!-- /.page-content -->
</div>