@inject SharedLocalizationService Localizer

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <title>Construction - @ViewData["Title"]</title>
    <meta name="description" content="Template built for Construction Company, Building Services, Architecture, Engineering, Cleaning Service and other Construction related services">
    <meta name="keywords" content=" architecture, builder, building, building company, cleaning services, construction, construction business, construction company">
    <meta name="author" content="blogwp.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <link rel="stylesheet" type="text/css" href="~/ViewComponet.css">
    <link rel="stylesheet" type="text/css" href="~/PortfoliViewComponent.css" />

    <!-- load cubeportfolio jQuery plugin -->
    <script type="text/javascript" src="cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    @RenderSection("head", false)

    <!-- Favicon and touch icons  -->
    <link rel="shortcut icon" href="~/assets/img/logo-light.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/icon/apple-touch-icon-158-precomposed.png" />
    <script src="~/customer/js/map.js"></script>

</head>


<body class="front-page /*one-page*/  no-sidebar site-layout-full-width menu-has-cart header-sticky header-style-5">
    <div id="top"></div>
    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">
            <div id="site-header-wrap">
                <!-- Header -->
                <header id="site-header" class="header-front-page style-5">
                    <div id="site-header-inner" class="container">
                        <div class="wrap-inner">
                            <div id="site-logo" class="clearfix">
                                <div id="site-logo-inner">
                                    <a asp-controller="Home" asp-action="Index" title="Construction" rel="home" class="main-logo">
                                        <img src="~/assets/img/logo-light.png" alt="Construction" data-retina="assets/img/logo-light.png" data-width="204" data-height="30" style=" position: absolute; width: 110px; height: 68px; top: -8px;  background-color: white;">
                                    </a>
                                </div>
                            </div>
                            <!-- /#site-logo -->

                            <div class="mobile-button"><span></span></div>
                            <!-- //mobile menu button -->

                            <partial name="_mainnav" />
                            <!-- /#main-nav -->

                            @await Html.PartialAsync("Language")
                        </div>
                        <!-- /#site-header-inner -->
                    </div>
                </header>
                <!-- /#site-header -->

            </div>


            @RenderBody()

            <!-- Footer -->
            <footer id="footer">
                <div id="footer-widgets" class="container style-1">
                    <div class="row">

                        @await Component.InvokeAsync("Adress")
                        <partial name="_UsefulLink" />
                    </div>
                </div>
            </footer>

            <!-- Bottom -->
            <div id="bottom" class="clearfix style-1">
                <div id="bottom-bar-inner" class="wprt-container">
                    <div class="bottom-bar-inner-wrap">
                        <div class="bottom-bar-menu">
                            <ul class="bottom-nav">
                                <li><a asp-controller="Home" asp-action="Index" style="text-transform: uppercase">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Home)</a></li>
                                <li><a asp-controller="About" asp-action="Index" style="text-transform: uppercase">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.About)</a></li>
                                <li><a asp-controller="Services" asp-action="Construction" style="text-transform: uppercase">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Services)</a></li>
                                <li><a asp-controller="Contact" asp-action="Index" style="text-transform: uppercase">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Contact)</a></li>
                            </ul>
                        </div>
                        <!-- /.bottom-bar-menu -->

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page -->

    </div>
    <!-- /#wrapper -->

    <a id="scroll-top">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Top)</a>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZWUE32UR-FTJgp1QlLnQfjOUDeDrKL5Q&callback=initMap&libraries=&v=weekly"
            ></script>
    <!-- Javascript -->
    <partial name="Javascript" />

    <!-- Revolution Slider -->
    <partial name="Revolution" />
    <script type="text/javascript" src="~/Component.js">
    </script>
    @RenderSection("Scrips", false)
</body>
</html>

