@inject SharedLocalizationService Localizer

<nav id="main-nav" class="main-nav">
    <ul class="menu">
        <li class="current-menu-item"><a asp-controller="Home" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Home)</a></li>
        <li><a asp-controller="About" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.About)</a></li>
        <li class="menu-item menu-item-has-children">
            <a href="#team">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Services)</a>
            @await Component.InvokeAsync("ServiceMenu")
        </li>

        <li><a asp-controller="Portfolio" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Portfolio)</a></li>
        <li><a asp-controller="Blog" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Blog)</a></li>
        <li><a asp-controller="Message" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Contact)</a></li>

    </ul>
</nav>