@inject SharedLocalizationService Localizer
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var cultureItems = LocOptions.Value.SupportedUICultures
                                    .ToList();
}
@section head{
    <style>
        .langdata {
            padding: 10px;
        }
    </style>
}
<nav id="main-nav" class="main-nav">
    <ul class="menu">
        <li class="@Html.Active("Home","Index")"><a asp-controller="Home" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Home)</a></li>
        <li class="@Html.Active("About","Index")"><a asp-controller="About" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.About)</a></li>

        <li class="@Html.Active("Services","Index") menu-item menu-item-has-children">
            <a href="/Services/Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Services)</a>
            @await Component.InvokeAsync("ServiceMenu")
        </li>

        <li class="@Html.Active("Portfolio","Index")"><a asp-controller="Portfolio" asp-action="Index" class="@Html.Active("Home","Index")">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Portfolio)</a></li>
        <li class="@Html.Active("Galery","Index")"> <a asp-controller="Galery" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Galery)</a></li>
        <li class="@Html.Active("Blog","Index")"><a asp-controller="Blog" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Blog)</a></li>
        <li class="@Html.Active("Message","Index")"><a asp-controller="Message" asp-action="Index">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Contact)</a></li>

        <div class="primary-menu">
            <nav style="margin-top: 12px;">
                <ul>

                    <li class="menu-item menu-item-has-children">
                        <a style="color: #ffffff;" href="#">AZ</a>
                        <ul class="sub-menu" style="width: 100px;">
                            @foreach (var item in cultureItems)
                            {
                                <li>
                                    <a class="datas_item langdata" data-id="@item.Name">
                                        <input class="contexts" type="hidden" data-id="@Context.Request.Path" />@item.NativeName.Substring(0, 2).ToUpper()
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="primarymenu">
            @foreach (var item in cultureItems)
            {
                <a class="datas_item langdata" data-id="@item.Name">
                    <input class="contexts" type="hidden" data-id="@Context.Request.Path" />@item.NativeName.Substring(0, 2).ToUpper()
                </a>
            }

            @*<a class="lang-a" href="#">EN</a>
        <a class="lang-a" href="#">RU</a>
        <a class="lang-a" href="#">AZ</a>*@
        </div>

        @*@foreach (var item in cultureItems)
        {

            <li>
                <a class="datas_item langdata" data-id="@item.Name">
                    <input class="contexts" type="hidden" data-id="@Context.Request.Path" />@item.NativeName.Substring(0, 2).ToUpper()
                </a>
            </li>
        }*@
    </ul>
    @*<select style="width:auto;color:red;border:none;background:none">
            <option>AZ</option>
            <option>EN</option>
            <option>RU</option>
        </select>*@
</nav>
<!-- /#main-nav -->

<script src="~/ConstructionAdmin/js/jquery-1.8.3.min.js"></script>
<script src="~/Custom/Js/language.js"></script>
<style>
    .myActive {
        color: yellow;
    }
</style>