@model UserEditModel

<style>
    .add-model {
        margin-left: 20px;
        background-color: #F1F2F7 !important;
    }

    .add-model header {
        height: 30px;
        margin-top: 15px;
    }

    .add-body {
        margin-top: -10px;
    }

    .about-button:hover {
        background-color: black !important;
        border-color: black;
        color: #fff;
    }
</style>

<div class="text-danger" asp-validation-summary="All"></div>

<!--main content start-->
<section id="main-content" style="margin-left: 10%;">
    <section class="wrapper" style="padding: 0; margin-top: 0%; margin-left: -4%;">

        <!-- page start-->
        <div class="row">
            <aside class="profile-info col-lg-12">
                <section class="panel">
                    <div class="panel-body bio-graph-info add-body">
                        <header class="panel-heading">
                            Update Profile
                        </header>
                        <form asp-area="ConstructionAdmin" asp-controller="Account" asp-action="Edit" class="form-horizontal" role="form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger">Please fix the error.</div>
                            @Html.HiddenFor(m => m.Id)
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="Name" class="form-control" id="f-name" placeholder="Enter a name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Email)</label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="Email" class="form-control" id="email" placeholder="Enter a email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Username)</label>
                                <div class="col-lg-6">
                                    <input type="text" asp-for="Username" class="form-control" id="n-pwd" placeholder="Enter a username">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Password)</label>
                                <div class="col-lg-6">
                                    <input type="password" asp-for="Password" class="form-control" id="n-pwd" placeholder="Enter a password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 63%;">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-success about-button">Save</button>
                                    <button asp-action="index" asp-controller="account" type="button" class="btn btn-default cancel-button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </aside>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

@section scripts{
    <script>
        $(".cancel-button").click(function () {
            window.location.href = "/ConstructionAdmin/Account/Index";
        })
    </script>
}