@model IEnumerable<BlogViewModel>

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .button-create {
        margin-bottom: 10px;
    }
    .text-style {
        text-align: center;
        font-size: 1.2em;
    }
    .common {
        margin-top: 45px !important;
        background-color: RGB(241, 242, 247) !important;
    }
</style>

<section class="panel common">
    <header class="panel-heading">
        News Elements Table
    </header>
    <hr />
    <div class="panel-body">
        <div class="button-create">
            <a asp-area="ConstructionAdmin" asp-controller="Blog" asp-action="Create" class="btn" style="color: #fff; background-color: #ffc925;">Create New News Element</a>
        </div>
        <div class="adv-table editable-table ">
            <div class="space15"></div>
            <div id="editable-sample_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-striped table-hover table-bordered dataTable" id="myTable editable-sample" aria-describedby="editable-sample_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Title</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Content</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Image</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Create Date</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Update</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Username" style="width: 182px;">Delete</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr class="odd">
                                    <td class=" ">@item.Title</td>
                                    <td class=" ">@item.Content</td>
                                    <td class=" "><img width="50" height="60" src="@item.Imagepath" alt="Alternate Text" /></td>
                                    <td class=" ">@item.CreateDate</td>
                                    <td><a class="edit btn btn-primary" asp-route-id="@item.Id" asp-area="ConstructionAdmin" asp-controller="Blog" asp-action="Edit">Edit</a></td>
                                    <td class=" "><a class="btn btn-danger delete delete-blog" data-id="@item.Id">Delete</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="odd">
                                <td class="text-style text-danger" colspan="6" asp-validation-summary="All">Hec bir Data yoxdur</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(".delete-blog").click(function () {
            var id = $(this).data("id");
            $.ajax({
                type: 'GET',
                url: '/ConstructionAdmin/Blog/Delete/' + id,
                success: function () {
                    window.location.href ="/ConstructionAdmin/Blog"
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        })
    </script>
}