@model PaginModel<NewsViewModel>
@inject SharedLocalizationService Localizer
@{
    ViewData["Title"] = "Index";
}

<!-- Featured Title -->
<div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>

<!-- Main Content -->
<div id="main-content" class="site-main center clearfix">
    <div id="content-wrap" class="container">
        <div id="site-content" class="site-content clearfix" style="width: 100%">
            @foreach (var item in Model.Paging)
            {
                <div class="hentry">
                    <div class="container">
                        <h1>@item.Title</h1>
                        <div class="post-meta style-3">
                            <div class="post-meta-content">
                                <div class="post-meta-content-inner">
                                    <span class="post-date item">
                                        <span class="inner"><span class="entry-date">@item.CreateDate.ToUniversalTime().ToString("MMMM dd, yyyy")</span></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.post-meta -->

                        <img src="@item.Imagepath" alt="logo" style="width:400px;height:250px;margin-right:15px; float: left;">
                        <p blog-content="@item.Content" ></p>
                    </div>
                </div>
                <!-- /.inner-content-wrap -->

                <div class="link"><a class="wprt-button small rounded-3px" asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.ReadMore)</a></div>
             }
        <div class="wprt-pagination clearfix" page-model="@Model.PagingInfo" page-action="List"></div>
    </div>
    <!-- /#main-content -->

    <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>
    </div>
</div>