@model ProjectUpdateViewModel

<style>
    .add-model {
        background-color: rgb(241,242, 247);
        padding-left: 7%;
    }

        .add-model header {
            height: 30px;
            margin-top: 15px;
        }

    .add-body {
        margin-top: -10px;
    }

    .about-button:hover {
        background-color: black !important;
        border-color: black;
        color: #fff;
    }

    .select-portfolio {
        width: 100%;
        height: 34px;
        border: 1px solid #e2e2e4;
        box-shadow: none;
        color: #c2c2c2;
        border-radius: 4px;
    }
</style>


    <div class="row">
        <div class="col-lg-12">
            <section class="panel add-model">
                <header class="panel-heading">
                    Portfolio Update
                </header>
                <hr />
                <div class="panel-body add-body">
                    <form role="form" class="form-horizontal tasi-form" asp-area="ConstructionAdmin" asp-controller="Project" asp-action="Update" method="post" enctype="multipart/form-data">
                       
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Az)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input type="text" asp-for="NameAz" id="f-name" class="form-control" placeholder="Name AZE">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input type="text" asp-for="NameEn" id="f-name" class="form-control" placeholder="Name ENG">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input type="text" asp-for="NameRu" id="f-name" class="form-control" placeholder="Name RU">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Az)</h5>
                            </label>
                            <div class="col-lg-11">
                                <textarea asp-for="ContentAz" rows="15" class="form-control " id="ccomment" placeholder="Content AZE"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <textarea asp-for="ContentEn" rows="15" class="form-control " id="ccomment1" placeholder="Content AZE"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <textarea asp-for="ContentEn" rows="15" class="form-control " id="ccomment2" placeholder="Content AZE"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Portfolio</h5>
                            </label>
                            <div class="col-lg-11">
                               
                                <select class="select-portfolio" asp-for="PortfolioId">
                                    @foreach (var item in ViewBag.items)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="wrapper--preview">
                            @if (Model.Images == null && Model.Images.Count < 1)
                            {
                                <input type="file" asp-for="files" multiple="multiple" />
                            }
                            @foreach (var item in Model.Images)
                            {
                                <div class="box">
                                    <div class="js--image-preview">
                                        <img src="@item.Path" alt="Alternate Text" />
                                        <input type="hidden" />
                                    </div>
                                    <div class="upload-options">

                                        <label>

                                            <input id="@item.Id" type="file" asp-for="files" onclick="cenerateInput(@item.Id);" />
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="form-group" style="margin-left: 72%;">
                            <div class="col-lg-offset-2 col-lg-11">
                                <button class="btn btn-success about-button" type="submit">Save</button>
                                <button class="btn btn-default cancel-button" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


@section scripts{
    <script>
        $(".cancel-button").click(function () {
            window.location.href = "/ConstructionAdmin/Project/Index";
        })
    </script>
}