@model ContactIndexViewModel
@inject SharedLocalizationService Localizer
@if (Model != null)
{

    <h5>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Address)</h5>
    <p>@Model.Address</p>
    <div class="wprt-spacer" data-desktop="15" data-mobi="0" data-smobi="0"></div>
    <h5>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.PhoneNumber)</h5>
    <p>@Model.PhoneNumber</p>
    <div class="wprt-spacer" data-desktop="15" data-mobi="0" data-smobi="0"></div>
    <h5>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.EmailAddress)</h5>
    <p>@Model.Email</p>
    <div class="wprt-spacer" data-desktop="0" data-mobi="10" data-smobi="10"></div>

}
else
{
    <h2>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.DataDoesNotExists)</h2>
}