@model IEnumerable<BlogViewModel>
@inject SharedLocalizationService Localizer

<section id="blog" class="wprt-section offer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-spacer" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                <h2>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Blog)</h2>
                <div class="wprt-lines style-1 custom-2">
                    <div class="line-1"></div>
                </div>
                <div class="wprt-spacer" data-desktop="50" data-mobi="30" data-smobi="30"></div>
            </div>
            <!-- /.col-md-12 -->

            <div class="col-md-12">
                <div class="wprt-service arrow-style-2 has-arrows arrow60 arrow-light" data-layout="slider" data-column="3" data-column2="3" data-column3="2" data-column4="1" data-gaph="30" data-gapv="30">
                    <div id="service-wrap" class="cbp">
                        @foreach (BlogViewModel item in Model)
                        {
                            <div class="cbp-item">
                                <div class="service-item clearfix">

                                    <div class="thumb"><img class="imageblog" src="@item.Image" style="height:350px" alt="image" /></div>
                                    <div class="service-item-wrap">
                                        <h3 class="title font-size-18"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" blogtitle="@item.Tittle"></a></h3>
                                        <p blogtext="@item.Content"></p>
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="wprt-button small rounded-3px">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.ReadMore)</a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <!-- /.col-md-12 -->

                <div class="col-md-12">
                    <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</section>